<nav class="navbar navbar-expand navbar-dark bg-dark static-top" id="header-bar">
  <div class="navbar-brand mr-1" id="heading">
    <b>COVID-19-EnsembleVis</b>
  </div>
</nav>

<div id="wrapper">

  <div id = "content-wrapper">

    <div class="container-fluid" id = "grid-container">

      <div id = "map-panel" class = "grid-item">

        <div id="map-layer">
          <div class="map">
            <app-usmap></app-usmap>
          </div>
          
          <!-- <div id="tooltip-map"></div> -->
        </div>
        <div id="mapCalenderLegend">
          <app-map-calender-legend></app-map-calender-legend>
        </div>
        <div id="CalenderPlot">
          <app-calender-plot></app-calender-plot>
          <div id="tooltipClenderPlot"></div>
        </div>

      </div>

      <div id = "details-panel">
        <div class="ScatterPlotClass" id="ScatterPlot1">
          <app-scatter-plot></app-scatter-plot>
          <div id="tooltip_ScatterPlot"></div>
        </div>
        <div class="ScatterPlotClass" id="ScatterPlot2">
          <app-scatter-plot></app-scatter-plot>
          <div id="tooltip_ScatterPlot"></div>
        </div>
        <div class="ScatterPlotClass" id="ScatterPlot3">
          <app-scatter-plot></app-scatter-plot>
          <div id="tooltip_ScatterPlot"></div>
        </div>
        <div class="ScatterPlotClass" id="ScatterPlot4">
          <app-scatter-plot></app-scatter-plot>
          <div id="tooltip_ScatterPlot"></div>
        </div>
        <div class="ScatterPlotClass" id="ScatterPlot5">
          <app-scatter-plot></app-scatter-plot>
          <div id="tooltip_ScatterPlot"></div>
        </div>
        <div class="ScatterPlotClass" id="ScatterPlot6">
          <app-scatter-plot></app-scatter-plot>
          <div id="tooltip_ScatterPlot"></div>
        </div>
        <div class="ScatterPlotClass" id="ScatterPlot7">
          <app-scatter-plot></app-scatter-plot>
          <div id="tooltip_ScatterPlot"></div>
        </div>
        <div class="ScatterPlotClass" id="ScatterPlot8">
          <app-scatter-plot></app-scatter-plot>
          <div id="tooltip_ScatterPlot"></div>
        </div>
        
      </div>

    </div>

  </div>

</div>
